@font-face {
   font-family: opensans;
   font-style: normal;
   font-weight: normal;
   src:
      url('../assets/fonts/opensans.woff') format('woff'),
      url('../assets/fonts/opensans.woff2') format('woff2');
}
